In [2]:
import pandas as pd
import calendar

# External running pythons
%run -i python-code/nlp.py

In [3]:
frame = pd.read_csv('./run_data/Final.csv',sep='|')
frame.head()

,author,contents,date,tags,title,tweetid,url,contents.1,tags.1,author.1
0,NaN,"It's a warm afternoon in Miami, and 35-year-ol...",Mon Apr 06 16:13:15 +0000 2015,NaN,RT @JennyAGold: Maybe You Should Skip That Ann...,5.851130446210662e+17,http://www.npr.org/blogs/health/2015/04/06/397...,NaN,NaN,NaN
1,NaN,"California's health insurance marketplace, Cov...",Wed Dec 24 18:40:33 +0000 2014,NaN,Would You Like Health Insurance With Those Sto...,5.47824165185536e+17,http://n.pr/1CKulog,NaN,NaN,NaN
2,NaN,"On Tuesday, the Food and Drug Administration r...",Wed Dec 24 14:41:04 +0000 2014,NaN,New Blood Donation Rules Would Still Exclude M...,5.477638976381993e+17,http://n.pr/1CJ9IsG,NaN,NaN,NaN
3,NaN,"This time last year, federal officials were sc...",Wed Dec 24 08:34:09 +0000 2014,NaN,Obama Administration Downplays Court Challenge...,5.476715604718592e+17,http://n.pr/1CHaDd6,NaN,NaN,NaN
4,NaN,"Ebola has cast a shadow over Liberia, but it c...",Wed Dec 24 08:34:08 +0000 2014,NaN,"Christmas In Liberia: Ebola Fears, No Snow, Ho...",5.4767155360998195e+17,http://n.pr/1CHaAxQ,NaN,NaN,NaN

In [4]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19989 entries, 0 to 19988
Data columns (total 10 columns):
author        4412 non-null object
contents      9372 non-null object
date          19989 non-null object
tags          171 non-null object
title         19989 non-null object
tweetid       19989 non-null object
url           17521 non-null object
contents.1    0 non-null float64
tags.1        0 non-null float64
author.1      0 non-null float64
dtypes: float64(3), object(7)
memory usage: 1.5+ MB

In [5]:
frame['contents'].isna().sum()

10617

In [6]:
frame.drop(labels=['tags','contents.1','tags.1','author.1'], axis=1, inplace=True)
frame.head()

,author,contents,date,title,tweetid,url
0,NaN,"It's a warm afternoon in Miami, and 35-year-ol...",Mon Apr 06 16:13:15 +0000 2015,RT @JennyAGold: Maybe You Should Skip That Ann...,5.851130446210662e+17,http://www.npr.org/blogs/health/2015/04/06/397...
1,NaN,"California's health insurance marketplace, Cov...",Wed Dec 24 18:40:33 +0000 2014,Would You Like Health Insurance With Those Sto...,5.47824165185536e+17,http://n.pr/1CKulog
2,NaN,"On Tuesday, the Food and Drug Administration r...",Wed Dec 24 14:41:04 +0000 2014,New Blood Donation Rules Would Still Exclude M...,5.477638976381993e+17,http://n.pr/1CJ9IsG
3,NaN,"This time last year, federal officials were sc...",Wed Dec 24 08:34:09 +0000 2014,Obama Administration Downplays Court Challenge...,5.476715604718592e+17,http://n.pr/1CHaDd6
4,NaN,"Ebola has cast a shadow over Liberia, but it c...",Wed Dec 24 08:34:08 +0000 2014,"Christmas In Liberia: Ebola Fears, No Snow, Ho...",5.4767155360998195e+17,http://n.pr/1CHaAxQ

In [7]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19989 entries, 0 to 19988
Data columns (total 6 columns):
author      4412 non-null object
contents    9372 non-null object
date        19989 non-null object
title       19989 non-null object
tweetid     19989 non-null object
url         17521 non-null object
dtypes: object(6)
memory usage: 937.1+ KB

In [8]:
frame['date'] = pd.to_datetime(frame['date'])

ValueError: ('Unknown string format:', 'date')

In [14]:
frame.fillna('Blank')

0        It's a warm afternoon in Miami, and 35-year-ol...
1        California's health insurance marketplace, Cov...
2        On Tuesday, the Food and Drug Administration r...
3        This time last year, federal officials were sc...
4        Ebola has cast a shadow over Liberia, but it c...
5        Every week, Dr. Michael Poshkus visits the Joh...
6        Imagine you live on a floating lake house. Ope...
7        We know that you can be fat while still fit, b...
8        We have received a bunch of questions about en...
9        Garrett Peterson was born in 2012 with a defec...
10       If your cardiologist is away at a conference w...
11       A new study says that the mortality risk for p...
12       Compared with other primates and our early hum...
13       For a few weeks last year, Michael Tranfaglia ...
14       Chronic pain affects tens of millions of Ameri...
15       I'm a proud nurse from a proud family of nurse...
16       I'm a proud nurse from a proud family of nurse...
17       The number of people who have died from the wo...
18       Stepping off the plane in Zimbabwe a quarter c...
19       Melissa Block talks to Dr. Thomas Frieden, dir...
20       A veritable jungle of organisms is helping kee...
21       I found her curled up in the fetal position on...
22       Most of us don't remember our first two or thr...
23       Medicare has begun punishing 721 hospitals wit...
24       On the eastern edge of St. Joseph, Mo., lies t...
25       A pretty blonde gives a crumb of food to a bla...
26       Some researchers who study the virus that caus...
27       We're living longer.. And cardiovascular disea...
28       California is battling the worst whooping coug...
29       Ebola may have slid off the nation's worry lis...
                               ...
19959                                                Blank
19960                                                Blank
19961                                                Blank
19962                                                Blank
19963                                                Blank
19964                                                Blank
19965                                                Blank
19966                                                Blank
19967    Making breakfast a daily habit helps you ward ...
19968    You don't need harsh chemicalsâ€”or tons of time...
19969                                                Blank
19970                                                Blank
19971                                                Blank
19972                                                Blank
19973                                                Blank
19974    For a good workout, you need to buy a hoop for...
19975                                                Blank
19976                                                Blank
19977                                                Blank
19978                                                Blank
19979                                                Blank
19980                                                Blank
19981    While strawberries start to ripen as early as ...
19982    Crohn's disease is a chronic, incurable inflam...
19983    \n                      .  To be determined. B...
19984                                                Blank
19985                                                Blank
19986                                                Blank
19987    Hot summer days call for refreshing drinks. Wh...
19988                                                Blank
Name: contents, Length: 19989, dtype: object

In [8]:
frame.iloc[59]

author                                 NaN
contents                               NaN
date        Sun Dec 14 20:05:17 +0000 2014
title                              Health
tweetid              5.442216097419346e+17
url                    http://n.pr/1BDX9hO
Name: 59, dtype: object

In [16]:
# Write to file txt
file_names = frame['tweetid'].values

for key, name in enumerate(file_names[:100]):
    
    # Construct the file name
    located_file = './training/' + str(name) + '.txt'
    
    # Open file for writing
    f= open(located_file,"w+")
    
    try:
    
        # Writing on file
        contents = str(frame['contents'].iloc[key])
        print(key, ' : ' ,type(contents))
        if contents is not 'blank':
            f.write(contents)
        else:
            print(len(contents))

        # close file connection
        f.close()
    except:
        pass

0  :  <class 'str'>
1  :  <class 'str'>
2  :  <class 'str'>
3  :  <class 'str'>
4  :  <class 'str'>
5  :  <class 'str'>
6  :  <class 'str'>
7  :  <class 'str'>
8  :  <class 'str'>
9  :  <class 'str'>
10  :  <class 'str'>
11  :  <class 'str'>
12  :  <class 'str'>
13  :  <class 'str'>
14  :  <class 'str'>
15  :  <class 'str'>
16  :  <class 'str'>
17  :  <class 'str'>
18  :  <class 'str'>
19  :  <class 'str'>
20  :  <class 'str'>
21  :  <class 'str'>
22  :  <class 'str'>
23  :  <class 'str'>
24  :  <class 'str'>
25  :  <class 'str'>
26  :  <class 'str'>
27  :  <class 'str'>
28  :  <class 'str'>
29  :  <class 'str'>
30  :  <class 'str'>
31  :  <class 'str'>
32  :  <class 'str'>
33  :  <class 'str'>
34  :  <class 'str'>
35  :  <class 'str'>
36  :  <class 'str'>
37  :  <class 'str'>
38  :  <class 'str'>
39  :  <class 'str'>
40  :  <class 'str'>
41  :  <class 'str'>
42  :  <class 'str'>
43  :  <class 'str'>
44  :  <class 'str'>
45  :  <class 'str'>
46  :  <class 'str'>
47  :  <class 'str'>
48  :  <class 'str'>
49  :  <class 'str'>
50  :  <class 'str'>
51  :  <class 'str'>
52  :  <class 'str'>
53  :  <class 'str'>
54  :  <class 'str'>
55  :  <class 'str'>
56  :  <class 'str'>
57  :  <class 'str'>
58  :  <class 'str'>
59  :  <class 'float'>
60  :  <class 'str'>
61  :  <class 'str'>
62  :  <class 'str'>
63  :  <class 'str'>
64  :  <class 'str'>
65  :  <class 'str'>
66  :  <class 'str'>
67  :  <class 'str'>
68  :  <class 'str'>
69  :  <class 'str'>
70  :  <class 'str'>
71  :  <class 'str'>
72  :  <class 'str'>
73  :  <class 'str'>
74  :  <class 'str'>
75  :  <class 'str'>
76  :  <class 'str'>
77  :  <class 'str'>
78  :  <class 'str'>
79  :  <class 'str'>
80  :  <class 'str'>
81  :  <class 'str'>
82  :  <class 'str'>
83  :  <class 'str'>
84  :  <class 'str'>
85  :  <class 'str'>
86  :  <class 'str'>
87  :  <class 'str'>
88  :  <class 'str'>
89  :  <class 'str'>
90  :  <class 'str'>
91  :  <class 'str'>
92  :  <class 'str'>
93  :  <class 'str'>
94  :  <class 'str'>
95  :  <class 'str'>
96  :  <class 'str'>
97  :  <class 'str'>
98  :  <class 'str'>
99  :  <class 'str'>

In [ ]:
frame.info()

In [ ]:
df = frame[['date']].copy()
df.head()

In [ ]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.strftime('%b')
df['weekday'] = df['date'].dt.strftime('%A')
df['hour'] = df['date'].dt.hour
df['minutes'] = df['date'].dt.strftime('%M')

In [ ]:
df.head()

In [ ]:
df['weekday'].value_counts()

In [ ]:
df['month'].value_counts()

In [ ]:
df['hour'].value_counts().sort_index()

In [ ]:
test_txt = """
Students were urged to make sure their vaccinations were up to date following reports of cases of mumps at Cardiff Metropolitan University in April.

Last year, Public Health Wales asked parents to get their children vaccinated after outbreaks of measles around south east Wales.

The report also looks at the threat from resistance to antibiotics.

Global overuse of antibiotics has led to a reduction in their effectiveness, as bacteria grow immune to them.

The report says this has already led to a small number of difficult to treat infections, leading to "failed therapy and potential complications".

A focus on reducing antibiotic use in GPs' surgeries saw a fall of nearly 12% in their use over five years, the report added.

"""

tnlp = NLP(test_txt)
tnlp.tokenizer()

tnlp.stemming()